:root {
  --blue: #181d2e;
  --green: #db0f47;
  --red: #ff0c4f;
  --background: #181d2c;
  --shapes: #1d243a;
  --text-title: #eceff4;
  --text: #eceff4;
  --text-light: #a09cb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #d2d4db;
  background-color: #121622;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
